body {
    background: url(../images/bg-image.jpg);
    background-size: 900px, contain; 
  }

#gifs-appear-here {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
}

p {
    color: white;
}