body {
    background-color: black;
}


header {
	background-image: url(../images/bg-image.jpg);
    background-size: 100% 100%;
}

#title{
    color: white;
}

label {
    color: white;
}

p {
    color: white;
}

.main-content {
    
top: 500px;
}

#lower-half {
    top: 500px;
}

#gifs-appear-here {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    }
    
btn {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}
 
.btn-space {
    margin-bottom: 20px;
}
    
gif {
    padding: 20px;
}